
.secao {
    background-image: url(https://c8.alamy.com/comp/FBXFEC/dr-norman-vincent-peale-statue-outside-of-marble-collegiate-church-FBXFEC.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 0vw;
    height: 100%;
    padding: 42rem;
    align-items: flex-start;
    color: blue;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
   margin-right: 100px;
}


.caixa {
    margin-top: -42rem;
    margin-left: -40rem;
    font-size: 2rem;
}
.tresimg {
    display: flex;}

.menu{ 
display: flex;
justify-content: initial;
}

.home {
    display:flex;
    list-style: none;
}



